<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update diagnosis</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/diagnosis-update}" th:object="${diagnosis}" method="post">
    <label for="DiagnosisID">Diagnosis ID</label>
    <input readonly type="number" th:field="*{DiagnosisID}" id="DiagnosisID" placeholder="DiagnosisID">
    <br/>
    <label for="DiagnosisName">Diagnosis Name</label>
    <input type="text" th:field="*{DiagnosisName}" id="DiagnosisName" placeholder="DiagnosisName" required minlength="2" maxlength="30">
    <br/>
    <label for="TreatmentDuration">Treatment Duration</label>
    <input type="number" th:field="*{TreatmentDuration}" id="TreatmentDuration" placeholder="TreatmentDuration" required min="1">
    <br/>
    <label for="Tariff">Tariff</label>
    <input type="number" th:field="*{Tariff}" id="Tariff" placeholder="Tariff" required min="0">
    <br/>
    <input type="submit" value="Update diagnosis">
</form>
</body>
</html>