<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Update doctor</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/doctor-update}" th:object="${doctor}" method="post">
    <label for="DoctorID">Doctor ID</label>
    <input readonly type="number" th:field="*{doctorID}" id="doctorID" placeholder="doctorID">
    <br/>
    <label for="DoctorName">Doctor Name</label>
    <input type="text" th:field="*{DoctorName}" id="DoctorName" placeholder="DoctorName" required minlength="2" maxlength="30">
    <br/>
    <label for="DoctorTariff">Doctor Tariff</label>
    <input type="number" th:field="*{DoctorTariff}" id="DoctorTariff" placeholder="DoctorTariff" required min="0">
    <br/>
    <input type="submit" value="Update doctor">
</form>
</body>
<style>
    body{
        background-color: black;
        color:white;
    }
</style>
</html>