<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hospitalised form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/hosps}" th:object="${client}" method="post">
    <label for="ClientID">Client ID</label>
    <select class="form-control" id="ClientID" name="ClientID" required>
        <option selected disabled value=''>Select Client</option>
        <option th:each="client : ${clients}"
                th:value="${client.ClientID}"
                th:text="${client.FirstName}+' '+${client.LastName}"></option>
    </select>
    <input class="btn btn-primary" type="submit" value="Get Client">
    <br/>
</form>
</body>
<style>
    .form-control{
        width: 10%;
    }
    body{
        background-color: black;
        color:white;
    }

</style>
</html>