<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
<div class="row">
    <div class="col">
        <a class="btn btn-block btn-outline-success" href="/expensivetreatment">Most Expensive Treatment</a>
    </div>
    <div class="col">
        <a class="btn btn-block btn-outline-success" href="/shorttreatment">Short Treatment</a>
    </div>
    <div class="col">
        <a class="btn btn-block btn-outline-success" href="/avgpayment">Avg Payment for each diagnosis</a>
    </div>
</div>
    <div class="row">
        <div class="col">
            <a class="btn btn-block btn-outline-success" href="/spec">Check if clients were in hospital this period</a>
        </div>
        <div class="col"><a class="btn btn-block btn-outline-success" href="/best-doc">Best Doctor</a>
        </div>
        <div class="col"><a class="btn btn-block btn-outline-success" href="/undertreatment">Under Treatment</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn  btn-block btn-outline-success" href="/sum">Sum of payments in period</a>
        </div>
        <div class="col">
            <a class="btn btn-block btn-outline-success" href="/sumdiag">Sum of payment per each month of past year</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-block btn-outline-success" href="/hospclient">Get hospitalization history by ID</a>
        </div>
    </div>
</div>
</body>
<style>
    .col{
        padding: 5px;
    }
    body{
        height: 100%;
        background-color: black;
    }
</style>
</html>