<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<form action="#" th:action="@{/registration-create}" th:object="${registration}" method="post">
    <label for="Category">Category</label>
    <input type="number" th:field="*{Category}" id="Category" placeholder="Category" required min="1">
    <br/>
    <label for="ClientID">Client's ID</label>
    <input type="number" th:field="*{ClientID}" id="ClientID" placeholder="ClientID" required min="1">
    <br/>
    <label for="Diagnosis">Diagnosis</label>
    <input type="number" th:field="*{Diagnosis}" id="Diagnosis" placeholder="Diagnosis" required min="1">
    <br/>
    <label for="Doctor">Doctor</label>
    <input type="number" th:field="*{Doctor}" id="Doctor" placeholder="Doctor" required min="1">
    <br/>
    <label for="VisitDate">Visit Date</label>
    <input type="date" th:field="*{VisitDate}" id="VisitDate" placeholder="VisitDate" required>
    <br/>
    <label for="DischargeDate">Discharge Date</label>
    <input type="date" th:field="*{DischargeDate}" id="DischargeDate" placeholder="DischargeDate" required>
    <br/>
    <label for="Severity">Severity</label>
    <input type="number" th:field="*{Severity}" id="Severity" placeholder="Doctor" required min="1" max="2" step="0.01">
    <br/>
    <input type="submit" value="Create Client">
</form>
</body>
</html>